.login-btn-ad {
  padding: 1.5rem 0rem;
  background: #005066;
  font-weight: 600;
  outline: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 97%;
  text-align: center;
  margin: 5px;
  border-radius: 6px;
}

.login-btn-ad a {
  color: #ffffff !important;
  text-decoration: none;
}

.set-nn {
  margin-left: 20px;
}

.footer-ad {
  padding: 1em 0em;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  background: #002439;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-size: 100% 100%;
}

.header-ad {
  background: #78cce2;
  color: #ffffff;
  padding: 5px;
  font-family: "Nunito Sans", sans-serif;
  box-shadow: 0 15px 30px 0 rgba(31, 48, 146, 0.11);
  position: sticky;
  font-weight: 500;
  top: 0;
  z-index: 1034;
}

/*****
****
*** ADMIN DASHBOARD */
.form-ad-st {
  margin-top: 5%;
  font-size: 3.5rem !important;
  text-align: center;
}

.th-ad {
  text-align: center !important;
}

.dashboard-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0px auto;
}

.dashboard-container .left-content {
  float: right;
  width: 95%;
}

.sidebar-menu {
  position: fixed;
  float: left;
  width: 230px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #052963;
  color: #aaabae;
  box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
  -o-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
  -webkit-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
  -moz-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
  z-index: 999;
}

.inner-content-view {
  margin: 30px 130px 100px 130px;
  width: 80%;
}

.outter-dash--width {
  margin: 15px auto 0;
  margin-bottom: 2em;
  width: 80%;
}

.outer-dash__list a {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  float: right;
  padding: 10px;
  margin-bottom: 0.5em;
  text-decoration: none;
  border-radius: 3px;
}

.login-wrapper-hdr {
  text-transform: uppercase;
  color: #000;
  margin: 15px 10px;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
}

.form-right__height>div {
  margin-top: -15px;
  padding: 10px 0px;
}

/***
**
**TABLE STYLES  */
.table td,
.table>tbody>tr>td,
.table>tbody>tr>th {
  padding: 15px 0px !important;
  height: 100%;
  color: #000;
  font-size: 1.55rem;
}

thead {
  text-align: left;
  color: #00c6d7;
  font-size: 1.6rem;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
  color: #000000;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  border: 1px solid #ddd;
  text-align: center;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
  border-bottom-width: 2px;
  padding: 10px;
}

table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  /* border-collapse: collapse; */
  /* display: table; */
  background: #ffffff;
}

.outter-dash {
  padding: 25px;
  margin: 50px auto 0;
  width: 450px;
  margin-bottom: 100px;
}

.outter-dash-add {
  padding: 25px;
  margin: 50px auto 0;
  width: 850px;
  margin-bottom: 100px;
}

.outter-dash-add-hm {
  padding: 25px;
  margin: 50px auto 0;
  width: 950px;
  margin-bottom: 100px;
}

.form-right__height>div {
  margin-top: -15px;
  padding: 10px 0px;
}

.outter-dash h4 {
  font-size: 18px;
  font-weight: 600;
}

.p-login-btn {
  padding: 1.5rem 0rem;
  background: #be363a;
  font-weight: 600;
  outline: none;
  border: none;
  color: #ffffff !important;
  font-size: 1.5rem;
  cursor: pointer;
  width: 97%;
  text-align: center;
  margin: 5px;
  border-radius: 6px;
}

.p-login-btn a {
  text-decoration: none;
  color: #ffffff !important;
}

.text-form-hdr {
  font-size: 3rem;
  padding: 12px 0px;
  text-align: center;
}

@media only screen and (min-width: 368px) and (max-width: 551px) {
  .sidebar-menu {
    position: fixed;
    float: left;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #052963;
    color: #aaabae;
    box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -o-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -webkit-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
    -moz-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
  }

  .sidebar-menu-mn {
    display: none;
  }

  .show-items {
    display: inline-block;
  }
}

.tooltips {
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 100%;
  padding: 14px 14px;
  box-sizing: border-box;
  text-decoration: none !important;
}

span#logo h1 {
  font-size: 2rem;
  color: #fff;
  margin: 0;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 300;
}

.down p {
  font-size: 1.3rem;
  color: #ffffff;
  padding: 5px 8px;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  background-color: #00c6d7;
}

#menu li {
  position: relative;
  margin: 0;
  border-bottom: 1px ridge rgba(6, 26, 68, 0.96);
  padding: 0;
  padding: 0;
}

#menu li ul {
  opacity: 0;
  height: 0px;
}

#menu li a {
  font-style: normal;
  font-weight: 400;
  position: relative;
  display: block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  z-index: 2;
  background-color: #021f4e;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  border: none;
  border-left: 4px solid #021f4e;
}

#menu li a:hover {
  color: #ffffff;
  background-color: #002561;
  transition: color 250ms ease-in-out;
  background-color 250ms ease-in-out;
  border-left: 4px solid #00c6d7;
}

#menu li.active>a {
  background-color: #2b303a;
  color: #ffffff;
}

#menu li ul {
  position: absolute;
  visibility: hidden;
  left: 100%;
  top: -1px;
  background-color: #2b303a;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.1s linear;
  border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menu li:hover>ul {
  visibility: visible;
  opacity: 1;
}

.center-btn {
  text-align: center;
  margin-bottom: 35px;
}

.center-btn a {
  text-decoration: none;
}

.add-meal-btn {
  background: #be363a;
  color: #ffffff;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 15px;
  border-radius: 15px;
}

.section--space {
  margin-top: 30px;
}

.set-hdr {
  margin: 25px 0 35px 0;
}

.set-title,
.ch-date {
  text-align: center;
  font-size: 1.9rem;
  letter-spacing: 1px;
}

.ch-date {
  text-transform: lowercase;
}

.ch-date-sp {
  padding-right: 30px;
}

.box-db {
  width: 300px;
  background: #333;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.deliv {
  padding: 5px;
  background: green;
  color: #ffffff;
  border-radius: 5px;
}

.pend {
  padding: 5px;
  background: #78cce2;
  color: #ffffff;
  border-radius: 5px;
}

.cancel {
  padding: 5px;
  background: #be363a;
  color: #ffffff;
  border-radius: 5px;
}

.btn-note {
  background: #052963;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}

a .btn-note {
  color: #fff;
  text-decoration: none;
}

.notify-wrapper {
  box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
  -o-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
  -webkit-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
  -moz-box-shadow: 0px 0px 10px 0px rgb(58, 41, 31);
  width: 400px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.meal-notice-hdr {
  flex: 2;
}

.notify-inner-cc {
  background: #dcdde1;
  padding: 10px 20px;
  font-size: 1.7rem;
}

.meal-notice {
  flex: 1;
  font-size: 2.5rem;
  font-weight: 600;
  width: 100%;
}

.notify-img {
  padding-left: 40px;
}

.inner-cont-notify {
  display: flex;
}

.username-notice {
  flex: 1;
}

/****
**
** MODAL POPUP  */

.btn-delete {
  border-radius: 20px;
  background: #be363a;
  color: #ffffff;
  padding: 9px;
  cursor: pointer;
}

.button {
  font-size: 1em;
  color: #fff;
  border: 2px solid #be363a;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #be363a;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.inner-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.btn-yes {
  background: green;
  color: #fff !important;
  padding: 8px;
  margin: 10px 0;
  text-align: center;
  width: 20%;
  border-radius: 10px;
  font-weight: 500;
  float: left;
  width: 80px;
}

.btn-yes a {
  color: #fff;
  text-decoration: none;
}

.btn-no {
  background: #be363a;
  color: #fff !important;
  padding: 8px;
  margin: 10px 0;
  text-align: center;
  width: 20%;
  border-radius: 10px;
  font-weight: 500;
  float: left;
  width: 80px;
  margin-left: 10px;
}

.btn-no a {
  color: #fff;
  text-decoration: none;
}

.btn-action {
  width: 70%;
}

.inner-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.inner-popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #333;
}

.inner-popup .close:hover {
  color: #be363a;
  font-weight: bold;
}

.inner-popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .btn-delete {
    width: 70%;
  }

  .inner-popup {
    width: 70%;
  }
}